# Бінарні файли (скомпільовані програми)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
kbot
main

# Директорія залежностей (якщо ви не використовуєте vendor)
vendor/

# Файли IDE та редакторів
.idea/
.vscode/
*.swp
*.swo

# Операційні системи
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Змінні оточення (ВАЖЛИВО: щоб не «засвітити» токени)
.env
.env.*

# Логи та тимчасові файли
*.log
tmp/
